<ul class="list-group" *ngIf="loaded && logs?.length > 0">
  <li class="list-group-item d-flex justify-content-between align-items-center" [class.list-group-item-secondary]="selectedLog === log" *ngFor="let log of logs">
    <a (click)="onSelect(log)" href="#">{{ log.text }}</a>
    <span class="log-date">{{ log.date }}</span>
    <i class="fa fa-remove" (click)="onDelete(log)"></i>
</ul>

<div *ngIf="loaded && logs.length == 0"><h5>No Logs currently in system</h5></div>
<div *ngIf="!loaded"><h5>Loading...</h5></div>
